* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#part1 {
    position: relative;
}
/* chung */
#part1 .logo-seach{
    display: flex;
}
/* logo */
#part1 .logo-seach .logo a {
    text-decoration: none;
}
#part1 .logo-seach .logo a img {
    margin: 15px;
    width: 100px;
    height: 100px;
}
/* menu */
#part1 .logo-seach .menu ul {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 150px;
}
#part1 .logo-seach .menu ul li {
    list-style: none;
    margin-left: 60px;
    padding-left: -20px;
    position: relative;
    background-color: black;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
#part1 .logo-seach .menu ul li:hover {
    transform: scale(1.1);
}
#part1 .logo-seach .menu ul li a {
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    color: rgb(255, 0, 0);
}
#part1 .logo-seach .menu ul li a:hover{
    color: rgb(51, 255, 0);
}
/* menu-drop */
#part1 .logo-seach .menu ul li > .sub-menu {
    display: none;
    position: absolute;
}
#part1 .logo-seach .menu ul li > .sub-menu {
    margin-left: 40px;
}
#part1 .logo-seach .menu ul li > .sub-menu .drop {
    background: none;
    width: 160px;
    height: 210px;
    display: inline-block;
    margin-top: -30px;
    margin-left: -100px;
    padding-top: 20px;
    text-align: center;

}
#part1 .logo-seach .menu ul li > .sub-menu .drop li {
    padding-bottom: 15px;
}
#part1 .logo-seach .menu ul li > .sub-menu .drop li a:hover{
    border-bottom: 3px solid red;
}
#part1 .logo-seach .menu ul li:hover .sub-menu{
    display: block;
}
/* thanh seach */
#part1 .logo-seach .seach{
    margin-top: 20px;
    height: 30px;
}
#part1 .logo-seach .seach .wapper {
    display: flex;
}
#part1 .logo-seach .seach .wapper input {
    width: 500px;
    height: 35px;
    background: rgb(105, 105, 105);
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}
#part1 .logo-seach .seach .wapper button {
    width: 30px;
    height: 33px;
    background: none;   
    outline: none;
    border: none;
    margin-top: 11px; 
    margin-left: -31px;
    border-left: 2px solid black;
}
#part1 .logo-seach .seach .wapper button i {
    font-size: 19px;
}
/* button login */
#part1 .logo-seach .login a i {
    margin-top: 32px;
    margin-left: 140px;
    font-size: 30px;
    color: rgb(255, 0, 0);
}
#part1 .logo-seach .login a i:hover {
    transform: scale(1.2);
    transition: 0.4s;
    color: rgb(0, 255, 0);
}
/* dark mode */
body {
    transition: 2s;
    color: #222;
    background: url(../Img/backmode.jpg);
    background-repeat: no-repeat;
    background-size: 1538px;
  }
body.dark-theme {
    color: aqua;
    background: url(../Img/roundmode.jpg);
    background-repeat: no-repeat;
    background-size: 1538px;
    transition: 4s;
}
.container {
    margin-left: -750px;
    margin-top: 35px;
}
.button {
    width: 57px;
    height: 28px;
    background: blue;
    appearance: none;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.956);
}
.button:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.956);
    transition: 0.35s cubic-bezier(.16,0.30,.27,1.30);
}
.button:checked {
    background: rgb(0, 0, 213);
}
.button:checked:before {
    margin-left: 30px;
}
/* part2 */
#part2 .heading {
    text-align: center;
}
#part2 .wapper {
    display:flex;
    margin-top: 40px;
    margin-left: 630px;
}
#part2 .wapper .git button {
    background: none;
    border: none;
}
#part2 .wapper .git button i {
    font-size: 40px;
    margin-left: 40px;
    background: linear-gradient(to right, red, blue);
    color: transparent;
    -webkit-background-clip: text;
}